@page "/"
@using Model
@using Newtonsoft.Json
@using TestVocacional.Extensions


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



@code {
    List<Pregunta> preguntas = new List<Pregunta>();
    List<Interes> intereses = new List<Interes>();
    List<Interes> aptitudes = new List<Interes>();

    protected override void OnInitialized()
    {
        preguntas = LeerJsonPreguntas("Preguntas.json");
        intereses = LeerJsonIntereses("Intereses.json");
        aptitudes = LeerJsonAptitudes("Aptitudes.json");
    }

    public List<Pregunta> LeerJsonPreguntas(string archivo)
    {
        string workingDirectory = Environment.CurrentDirectory + "\\JsonFiles\\" + archivo;
        string jsonContent = File.ReadAllText(workingDirectory);
        List<Pregunta> preguntas = JsonConvert.DeserializeObject<List<Pregunta>>(jsonContent);
        return preguntas;
    }
    
    public List<Interes> LeerJsonIntereses(string archivo)
    {
        string workingDirectory = Environment.CurrentDirectory + "\\JsonFiles\\" + archivo;
        string jsonContent = File.ReadAllText(workingDirectory);
        List<Interes> preguntas = JsonConvert.DeserializeObject<List<Interes>>(jsonContent);
        return preguntas;
    }
    
    public List<Interes> LeerJsonAptitudes(string archivo)
    {
        string workingDirectory = Environment.CurrentDirectory + "\\JsonFiles\\" + archivo;
        string jsonContent = File.ReadAllText(workingDirectory);
        List<Interes> preguntas = JsonConvert.DeserializeObject<List<Interes>>(jsonContent);
        return preguntas;
    }

    public void CalcularOrientacion()
    {
        var resultintereses = preguntas.VerificarRespuestas(intereses);
        var resulaptitudes = preguntas.VerificarRespuestas(aptitudes);
    }
}