@page "/Preguntas"
@using Model 
@using Newtonsoft.Json

<div class="container">
    <div class="row">
        <div class="col-8" >
            @foreach (var pregunta in preguntas)
            {
                <div class="pregunta m-4" style="border: 1px solid">
                    <p class="my-auto">@pregunta.Texto</p>
                </div>
            }
        </div>
        <div class="col-4">

        </div>

    </div>
    <div style="border: 1px solid">

    </div>
</div>






@code{
    List<Pregunta> preguntas = new List<Pregunta>();

    protected override void OnInitialized()
    {
        preguntas = LeerJsonPreguntas("Preguntas.json");
    }

    //Retornar path
    public List<Pregunta> LeerJsonPreguntas(string archivo)
    {
        string workingDirectory = Environment.CurrentDirectory + "\\JsonFiles\\" + archivo;
        string jsonContent = File.ReadAllText(workingDirectory);
        List<Pregunta> preguntas = JsonConvert.DeserializeObject<List<Pregunta>>(jsonContent);
        return preguntas;
    }
}